.DS_Store
dist/
build/
docs/_build/
*.eggs
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
.vscode/
__pycache__
.python-version
*.pyc
*.pyo
htmlcov/
.coverage
.coverage.*
*,cover
*.db

/tiny_python_sdk/logger/*.log.*
